/* 全局样式表*/
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* login页面自定义element ui的样式*/
.login_form .el-input__inner{
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}
.login_form .el-button{
    font-size: 25px;
}
.login_form .el-form-item__error{
    font-size: 15px;
}